In [1]:
import pandas as pd

In [11]:
dataframe_general= pd.read_csv('visita19.csv',index_col=0)

In [12]:
dataframe_general

,"ENT_REGIS,C,2","MES_ENTREV,N,2,0","DIA_ENTREV,N,1,0","SEXO,N,1,0","EDAD,N,2,0","ENT_RESID,C,2","MUN_RESID,C,3","PAIS_RESID,C,3","NACIONALID,N,1,0","PAIS_EXTRA,C,3",...,"OPIN_EXPOS,N,1,0","NIV_APREND,C,2","DUR_VIS_H,N,2,0","DUR_VIS_M,N,2,0","REPETIR_VI,N,1,0","RECOMIE_VI,N,2,0","EVAL_GRAL,N,2,0","M_NOVIS_1,C,2","M_NOVIS_2,C,2","M_NOVIS_3,C,2"
"ANIO_ESTAD,C,4",,,,,,,,,,,,,,,,,,,,,
2019,1,7,1,2,56,1,1,0,1,0,...,2,10.0,0,30,1,15,8,7,NaN,NaN
2019,1,7,1,2,24,1,1,0,1,0,...,2,2.0,0,30,1,12,8,8,NaN,NaN
2019,1,7,1,2,31,1,1,0,1,0,...,5,4.0,0,20,1,11,9,5,NaN,NaN
2019,1,7,1,1,19,1,1,0,1,0,...,2,8.0,0,15,1,13,7,5,NaN,NaN
2019,1,7,1,1,50,1,1,0,1,0,...,1,9.0,0,25,1,14,8,7,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2019,32,10,1,1,19,19,39,0,1,0,...,1,9.0,1,0,1,13,10,8,9.0,NaN
2019,32,10,1,2,32,28,27,0,1,0,...,1,10.0,0,45,1,13,10,7,8.0,9.0
2019,32,10,1,1,40,32,23,0,1,0,...,1,10.0,1,0,1,13,10,9,NaN,NaN
2019,32,10,1,2,55,13,48,0,1,0,...,1,9.0,0,40,1,15,10,8,NaN,NaN
2019,32,10,1,2,44,24,20,0,1,0,...,1,10.0,1,0,1,15,10,9,NaN,NaN